NEXT_PUBLIC_SUPABASE_URL=https://huphvwysfktdvnyiretj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
DATABASE_URL=postgresql://postgres.huphvwysfktdvnyiretj:[PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
